<div class="checkr">
<div class="chead">
<div class="cheader">
    <container class="cheadermenu">
        <a class="cheadermenulinks" href="https://applicant.checkr.com/">I Am an Applicant</a>
    </container>
    <container class="cheadermenu">
        <a class="cheadermenulinks" href="https://docs.checkr.com/">API & Docs</a>
    </container>
    <container class="cheadermenu">
        <a class="cheadermenulinks" href="https://checkr.com/about/">About Us</a>
    </container>
</div>

<div class="cmenu">
    <div class="cmenuleft">
        <container class="cmenulogo">
            <a class="cmenulogolink" href="#"><%= image_tag("checkr.png", class: "checkrimg") %></a>
        </container>
        <container class="cmenudd">
            <div class="dropdown">
                 <span class="dropbtn">PRODUCT ⮟</span>
                 <div class="dropdown-content">
                     <a href="https://checkr.com/product/">Overview</a>
                     <a href="https://checkr.com/product/screenings/">Screenings</a>
                     <a href="https://checkr.com/product/compliance/">Compliance</a>
                     <a href="https://checkr.com/product/security/">Security</a>
                 </div>
             </div>
        </container>
        <container class="cmenudd">
            <div class="dropdown">
                 <span class="dropbtn">INDUSTRIES ⮟</span>
                 <div class="industries">
                     <a href="https://checkr.com/industries/">Overview</a>
                     <a href="https://checkr.com/industries/financial-services/">Financial Services</a>
                     <a href="https://checkr.com/industries/healthcare/">Healthcare</a>
                     <a href="https://checkr.com/industries/staffing/">Staffing</a>
                     <a href="https://checkr.com/industries/manufacturing/">Manufacturing</a>
                     <a href="https://checkr.com/industries/small-business/">Small Business</a>
                     <a href="https://checkr.com/industries/contact-centers/">Contact Centers</a>
                     <a href="https://checkr.com/industries/retail-hospitality/">Retails & Hospitality</a>
                     <a href="https://checkr.com/industries/nonprofit/">Non Profit</a>
                     <a href="https://checkr.com/industries/on-demand-economy/">On-Demand Economy</a>
                     <a href="https://checkr.com/industries/software-and-technology/">Software & Technology</a>
                     <a href="https://checkr.com/industries/p2p-marketplaces/">P2P Marketplaces</a>
                 </div>
             </div>
        </container>
        <container class="cmenudd">
            <div class="dropdown">
                 <span class="dropbtn">RESOURCES ⮟</span>
                 <div class="dropdown-content">
                     <a href="https://checkr.com/resources/">Overviwer</a>
                     <a href="https://checkr.com/resources/white-papers/">Guides & White Papers</a>
                     <a href="https://checkr.com/resources/faq/">FAQ</a>
                 </div>
             </div>
        </container>
    </div>
    <div class="cmenuright">
        <a class="cmenuloginlink" href="https://dashboard.checkr.com/login?next=%2Freports"><container class="cmenulogin">
            <span class="cmenulogintxt">LOG IN</span>
        </container></a>
        <a class="cmenustartedlink" href="https://checkr.com/get-started"><container class="cmenustarted">
            <span class="cmenustartedtxt">GET STARTED →</span>
        </container></a>
    </div>
</div>

<div class="cfirst">
    <div class="cfirstexplore">
        <container class="cfirstexploretitle">
            <span class="cfirstexploretitletxt">HIRE GREAT PEOPLE.</span>
            <br>
            <span class="cfirstexploretitletxt">FASTER.</span>
        </container>
        <container class="cfirstexploretext">
            <p class="cfirstexploretexttxt">Checkr provides modern and compliant background checks for global enterprises and startups.</p>
        </container>
        <a class="cfirstexplorebuttonlink" href="http://checkr.com/product/"><container class="cfirstexplorebutton">
            <span class="cfirstbuttontxt">EXPLORE NOW →</span>
        </container></a>
    </div>
    <div class="cfirstgif">
       <video controls autoplay loop>
          <source src="https://checkr.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
        </video>
    </div>
</div>
</div>

<div class="cpartners">
    <container class="cpartnerstitle">
        <span class="cpartnerstitletxt">More Than 10,000 Businesses Trust Checkr for Their Background Screenings</span>
    </container>
    <div class="cpartnersall">
        <container class="cpartnerslogo">
            <%= image_tag("instacart.png", class: "cpartnerslogoimg") %>
        </container>
        <container class="cpartnerslogo">
            <%= image_tag("grubhub.gif", class: "cpartnerslogoimg") %>
        </container>
        <container class="cpartnerslogo">
            <%= image_tag("uber.jpg", class: "cpartnerslogoimg") %>
        </container>
        <container class="cpartnerslogo">
            <%= image_tag("postmates.png", class: "cpartnerslogoimg") %>
        </container>
        <container class="cpartnerslogo">
            <%= image_tag("zenefits.gif", class: "cpartnerslogoimg") %>
        </container>
        <container class="cpartnerslogo">
            <%= image_tag("handy.jpg", class: "cpartnerslogoimg") %>
        </container>
    </div>
</div>


<div class="cfonct">
    <container class="cfonctitle">
        <span class="cfonctitletxt">The Next Generation of Background Checks</span>
    </container>
    <div class="cfonct3">
        <container class="cfonctall">
           <%= image_tag("fonct1.svg", class: "cfonctallimg") %><br>
           <span class="cfonctalltitle">Mobile-Friendly</span>
           <p class="cfonctalltxt">Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
        </container>
        <container class="cfonctall">
           <%= image_tag("fonct2.svg", class: "cfonctallimg") %><br>
           <span class="cfonctalltitle">Easy to Understand</span>
           <p class="cfonctalltxt">Color-coded reports and an intuitive interface makes it possible to review information faster. See a sample employee background report.</p>
        </container>
        <container class="cfonctall">
           <%= image_tag("fonct3.svg", class: "cfonctallimg") %><br>
           <span class="cfonctalltitle">Convenient Automation</span>
           <p class="cfonctalltxt">Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>
        </container>
    </div>
    <div class="cfonct2">
        <container class="cfonctall">
           <%= image_tag("fonct4.svg", class: "cfonctallimg") %><br>
           <span class="cfonctalltitle">Simplified and Compliant Communication</span>
           <p class="cfonctalltxt">Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>
        </container>
        <container class="cfonctall">
           <%= image_tag("fonct5.svg", class: "cfonctallimg") %><br>
           <span class="cfonctalltitle">Fast and Accurate</span>
           <p class="cfonctalltxt">Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>
        </container>
    </div>
</div>
<!--
<div class="cexamp">
    <container class="cexamptitle">
        <span class="cexampletitletxt">Tailored to Fit Your Industry’s Needs</span>
    </container>
    <div class="cexampimg">
        <div class="cexampimgcol">
            <container class="cexampcolall">
                
            </container>
            <container class="cexampcolall">
                
            </container>
            <container class="cexampcolall">
                
            </container>
        </div>
        <div class="cexampimgcol">
            <container class="cexampcolall">
                
            </container>
            <container class="cexampcolall">
                
            </container>
            <container class="cexampcolall">
                
            </container>
        </div>
        <div class="cexampimgcol">
            <container class="cexampcolall">
                
            </container>
            <container class="cexampcolall">
                
            </container>
            <container class="cexampcolall">
                
            </container>
        </div>
        <div class="cexampimgcol">
            <container class="cexampcolall">
                
            </container>
            <container class="cexampcolall">
                
            </container>
            <container class="cexampcolall">
                
            </container>
        </div>
    </div>
</div>
-->

<div class="cdetail">
    <container class="cdetailtitle">
        <span class="cdetailtitletxt">Best in Class Compliance and Security</span>
    </container>
    <div class="cdetailf">
    <container class="cdetailfor" id="cdetailfor1">
        <p><%= image_tag("loupe.svg", class: "cdetailforimg") %><span class="cdetailfortitle"> Screenings</span></p>
        <ul>
            <li class="lifirst">Criminal Records</li>
            <li class="lifirst">Driving Records</li>
            <li class="lifirst">Employment Verifications</li>
            <li class="lifirst">International Verifications</li>
            <li class="lifirst">Drug screening</li>
        </ul>
        <container class="cdetailforlinks">
            <container class="cdetailforlink">
                <a class="cdetaillinky" href=""><span class="cdetailforlinktxt">REVIEW ALL OF CHECKR'S SCREENING SERVICES</span></a>
            </container>
            <container class="cdetailforarrow">
                <a class="cdetaillinky" href=""><span class="cdetailforarrowtxt">→</span></a>
            </container>
        </container>
    </container>
    <container class="cdetailfor" id="cdetailfor2">
        <p><%= image_tag("person.svg", class: "cdetailforimg") %><span class="cdetailfortitle"> Compliance</span></p>
        <ul>
            <li class="lifirst">Compliant with state and federal laws, including FCRA</li>
            <li class="lifirst">NAPBS accreditation</li>
            <li class="lifirst">Experienced in-house compliance and investigation team</li>
        </ul>
        <container class="cdetailforlinks">
            <container class="cdetailforlink">
                <a class="cdetaillinky" href=""><span class="cdetailforlinktxt">VISIT OUR COMPLIANCE LEARNING CENTER</span></a>
            </container>
            <container class="cdetailforarrow">
                <a class="cdetaillinky" href=""><span class="cdetailforarrowtxt">→</span></a>
            </container>
        </container>
    </container>
    <container class="cdetailfor" id="cdetailfor3">
        <p><%= image_tag("cadenas.svg", class: "cdetailforimg") %><span class="cdetailfortitle"> Security</span></p>
        <ul>
            <li class="lifirst">Data encrypted using bank-grade standards</li>
            <li class="lifirst">Non-stop monitoring</li>
            <li class="lifirst">Infrastructure built for high availability</li>
        </ul>
        <container class="cdetailforlinks">
            <container class="cdetailforlink">
                <a class="cdetaillinky" href=""><span class="cdetailforlinktxt">SEE WHY WE'RE TRUSTED BY WORLD-CLASS COMPANIES</span></a>
            </container>
            <container class="cdetailforarrow">
                <a class="cdetaillinky" href=""><span class="cdetailforarrowtxt">→</span></a>
            </container>
        </container>
    </container>
    </div>
</div>

<div class="capp">
    <div class="cappcol1">
    <container class="capptitle">
        <span class="capptitletxt">Information for Applicants</span>
    </container>
    </div>
    <div class="cappcol2">
    <container class="cappfirst">
       <span class="cappfirsttitle">Checkr provides the support you deserve.</span>
       <ul>
           <li class="lifirst">Responsive U.S.-based customer service</li>
           <li class="lifirst">Status tracking available through the applicant portal</li>
           <li class="lifirst">Support available by phone or email</li>
       </ul>
       <a class="cappfirstlink" href="https://applicant.checkr.com/">VISIT CHECKR'S APPLICANT PORTAL →</a>
    </container>
    <container class="capplast">
        <container class="capplastcite">
            <p class="capplastcitetxt"><cite>"First of all, thank you for informing me of the progress regarding your process. That is not only professional but exemplifies a degree of courtesy other companies would be smart to model."</cite></p>
        </container>
        <container class="capplastuser">
            <container class="capplastuser1">
            <%= image_tag("user.gif", class: "userimg") %>
            </container>
            <container class="capplastuser2">
            <span class="capplastusertitle">Peter D.</span><br>
            <span class="capplastusertxt">Grubhub applicant</span>
            </container>
        </container>
    </container>
    </div>
</div>

<div class="ctour">
    <container class="ctourimg">
        <%= image_tag("ctourimg.png", class: "ctourimgimg") %>
    </container>
    <container class="ctourtxt">
       <span class="ctourtxttitle">Take a Tour</span>
       <p class="ctourtxttxt">See why Checkr is the most reliable option for your background check needs.</p>
    </container>
    <container class="ctourbuttons">
        <a class="ctourbuttonlink" href="https://checkr.com/contact/"><span class="ctourbutton">SCHEDULE A DEMO →</span></a>
    </container>
</div>

<div class="cfooter">
    <div class="cfooterstart">
    <container class="cfooterlist">
        <span class="cfooterlisttitle">PRODUCT</span>
        <div class="cfooterlistseparator"></div>
        <ul>
            <li class="cfooterlistdeco">Overview</li>
            <li class="cfooterlistdeco">Screenings</li>
            <li class="cfooterlistdeco">Compliance</li>
            <li class="cfooterlistdeco">Security</li>
            <li class="cfooterlistdeco">API & Docs</li>
        </ul>
    </container>
    <container class="cfooterlarge">
        <span class="cfooterlisttitle">INDUSTRIES</span>
        <div class="cfooterlisting">
        <div class="cfooterlistseparator"></div>
        <ul>
            <li class="cfooterlistdeco">Overview</li>
            <li class="cfooterlistdeco">Financial Services</li>
            <li class="cfooterlistdeco">Healthcare</li>
            <li class="cfooterlistdeco">Staffing</li>
            <li class="cfooterlistdeco">Manufacturing</li>
            <li class="cfooterlistdeco">Small Business</li>
            <li class="cfooterlistdeco">Higher Education</li>
        </ul>
        <ul>
            <li class="cfooterlistdeco">Contact Centers</li>
            <li class="cfooterlistdeco">Retail & Hospitality</li>
            <li class="cfooterlistdeco">Non Profit</li>
            <li class="cfooterlistdeco">On-Demand Economy</li>
            <li class="cfooterlistdeco">Software & Technology</li>
            <li class="cfooterlistdeco">P2P Marketplaces</li>
        </ul>
        </div>
    </container>
    <container class="cfooterlist">
        <span class="cfooterlisttitle">RESOURCES</span>
        <div class="cfooterlistseparator"></div>
        <ul>
            <li class="cfooterlistdeco">Overview</li>
            <li class="cfooterlistdeco">White Papers</li>
            <li class="cfooterlistdeco">FAQ</li>
            <li class="cfooterlistdeco">Blog</li>
            <li class="cfooterlistdeco">Engineering Blog</li>
            <li class="cfooterlistdeco">Applicant Portal</li>
        </ul>
    </container>
    <container class="cfooterlist">
        <span class="cfooterlisttitle">COMPANY</span>
        <div class="cfooterlistseparator"></div>
        <ul>
            <li class="cfooterlistdeco">Partners</li>
            <li class="cfooterlistdeco">Partner Lead Portal</li>
            <li class="cfooterlistdeco">About Us</li>
            <li class="cfooterlistdeco">Bounce Back to Work</li>
            <li class="cfooterlistdeco">Careers</li>
            <li class="cfooterlistdeco">Press</li>
        </ul>
    </container>
    <container class="cfooterlist">
        <span class="cfooterlisttitle">CONNECT</span>
        <div class="cfooterlistseparator"></div>
        <ul>
            <li class="cfooterlistdeco"><a class="mailto" href="mailto:hello@check.com">hello@check.com</a></li>
            <li class="cfooterlistdeco">Contact Us</li>
            <li class="cfooterlistdeco">Get Started</li>
            <li class="cfooterlistdeco">Log In</li>
            <li class="cfooterlistdeco">
                <a class="socialmedialinks" href="https://twitter.com/checkr"><%= image_tag("twitter.svg", class: "socialmediaimg") %></a>
                <a class="socialmedialinks" href="https://www.facebook.com/checkrio/"><%= image_tag("facebook.svg", class: "socialmediaimg") %></a>
                <a class="socialmedialinks" href="https://www.linkedin.com/company/checkr-com"><%= image_tag("linkedin.svg", class: "socialmediaimg") %></a>
                <a class="socialmedialinks" href="https://www.instagram.com/checkr_"><%= image_tag("instagram.svg", class: "socialmediaimg") %></a>
                <a class="socialmedialinks" href="https://angel.co/checkr"><%= image_tag("angellist.svg", class: "socialmediaimg") %></a>
            </li>
        </ul>
    </container>
    </div>
    <div class="cfooterfoot">
        <container class="cfooterfootlinks">
           <a class="cfooterlink" href="https://checkr.com/customer-agreement">Customer Agreement</a><span class="cfooterlinkseparator"> | </span>
           <a class="cfooterlink" href="https://checkr.com/privacy-policy">Privacy Policy</a><span class="cfooterlinkseparator"> | </span>
           <a class="cfooterlink" href="https://checkr.com/terms-of-service">Terms of Service</a><span class="cfooterlinkseparator"> | </span>
           <span class="cfooterlink">© 2017 Checkr, Inc.</span>
        </container>
        <container class="cfooterfootlogo">
            <%= image_tag("napbs.png", class: "napbs") %>
        </container>
    </div>
</div>
</div>
